.post{
    background-color: white;
}

.post-header {
    display: flex;
    margin: auto;
    padding-top: 100px;
    width: 700px;
    text-align: left;
}

.post-header i {
    margin: auto;
}

#id-i-logo {
    margin-inline-start: 100px;
    margin-inline-end: 10px;
}

.post-header p {
    margin-inline-end: 300px;
    text-align: left;
}

.post-img {
    display: flex;
    justify-content: center;
}

.post-body {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
}

.post-icons {
    display: flex;
    gap: 420px;
    padding: 5px;
    justify-content: center;
    background-color: white;
}
.post-icons i {
    background-color: white;
}

.post-body-description p {
    margin: auto;
    background-color: white;
    padding: 5px;
    text-align: justify;
    width: 500px;
    
}

.post-body-description strong {
    margin: auto;
    background-color: white;
    
    
}

img {
    width: 500px;
    height: 500px;
}
