.post{
    background-color: white;
}

.post-header {
    display: flex;
    margin: auto;
    padding-top: 100px;
}

.post-header i {
    margin: auto;
}

.post-header p {
    margin: auto;
}

.post-header-title {
    display: flex;
    padding-left: 10px;
    padding-right: 350px;
    background-color: white;
}

.post-img {
    display: flex;
    justify-content: center;
}

.post-body {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: white;
}

.post-icons {
    display: flex;
    gap: 420px;
    padding: 5px;
    justify-content: center;
    background-color: white;
}
.post-icons i {
    background-color: white;
}

.post-body-description p {
    margin: auto;
    background-color: white;
    
    
}

.post-body-description strong {
    margin: auto;
    background-color: white;
    
    
}

img {
    width: 500px;
    height: 500px;
}
